## Final Project Submission

Please fill out:

- Students name: Derrick Wekesa
- Student pace: full time
- Scheduled project review date/time:
- Instructor name:
- Blog post URL:

In [1]:
#importing relevant libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler
import folium

In [11]:

#loading the dataset
kc_data = pd.read_csv('data/kc_house_data.csv')
kc_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

DATA PREPARATION

In [4]:
#getting last five columns of the dataset
kc_data.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,...,8 Good,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,...,8 Good,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,...,7 Average,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,...,8 Good,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,...,7 Average,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [5]:
#Getting the number of rows and columns in the dataset
print('Data frame rows and columns :',kc_data.shape)

Data frame rows and columns : (21597, 21)

DATA ANALYSIS

In [6]:
#Getting statistics about the data

print("Stats about the data :", kc_data.describe())

Stats about the data :                  id         price      bedrooms     bathrooms   sqft_living  \
count  2.159700e+04  2.159700e+04  21597.000000  21597.000000  21597.000000
mean   4.580474e+09  5.402966e+05      3.373200      2.115826   2080.321850
std    2.876736e+09  3.673681e+05      0.926299      0.768984    918.106125
min    1.000102e+06  7.800000e+04      1.000000      0.500000    370.000000
25%    2.123049e+09  3.220000e+05      3.000000      1.750000   1430.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    sqft_above      yr_built  yr_renovated  \
count  2.159700e+04  21597.000000  21597.000000  21597.000000  17755.000000
mean   1.509941e+04      1.494096   1788.596842   1970.999676     83.636778
std    4.141264e+04      0.539683    827.759761     29.375234    399.946414
min    5.200000e+02      1.000000    370.000000   1900.000000      0.000000
25%    5.040000e+03      1.000000   1190.000000   1951.000000      0.000000
50%    7.618000e+03      1.500000   1560.000000   1975.000000      0.000000
75%    1.068500e+04      2.000000   2210.000000   1997.000000      0.000000
max    1.651359e+06      3.500000   9410.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21597.000000  21597.000000  21597.000000   21597.000000   21597.000000
mean   98077.951845     47.560093   -122.213982    1986.620318   12758.283512
std       53.513072      0.138552      0.140724     685.230472   27274.441950
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471100   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.231000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000

In [24]:
#finding duplicates

def check_duplicates(data):
    """
    A simple function to check for duplicates in a given dataset.
    """
    duplicates = data.duplicated().sum()
    return duplicates
check_duplicates(kc_data)

0

In [12]:
unique_cols = []
for col in kc_data.columns:
    if kc_data[col].nunique() == 1:
        unique_cols.append(col)
print(unique_cols)

[]

In [13]:

unique_columns = kc_data['id'].unique()
print(unique_columns)

[7129300520 6414100192 5631500400 ... 1523300141  291310100 1523300157]

In [8]:
#getting unique columns in the dataset
def find_unique_columns(kc_data):
    df = pd.read_csv(kc_data)
    unique_columns = []
    for col in df.columns:
        if df[col].nunique() == len(df):
            unique_columns.append(col)
    return unique_columns

In [18]:
#mapping categorical values
kc_data['id'] = pd.factorize(kc_data['id'])[0]

kc_data['waterfront'] = pd.factorize(kc_data['waterfront'])[0]

kc_data['view'] = pd.factorize(kc_data['view'])[0]

kc_data['condition'] = pd.factorize(kc_data['condition'])[0]

kc_data['grade'] = pd.factorize(kc_data['grade'])[0]

kc_data['sqft_basenment'] = pd.factorize(kc_data['sqft_basement'])[0]

#print updated dataframe
print(kc_data)

          id        date     price  bedrooms  bathrooms  sqft_living  \
0          0  10/13/2014  221900.0         3       1.00         1180
1          1   12/9/2014  538000.0         3       2.25         2570
2          2   2/25/2015  180000.0         2       1.00          770
3          3   12/9/2014  604000.0         4       3.00         1960
4          4   2/18/2015  510000.0         3       2.00         1680
...      ...         ...       ...       ...        ...          ...
21592  21415   5/21/2014  360000.0         3       2.50         1530
21593  21416   2/23/2015  400000.0         4       2.50         2310
21594  21417   6/23/2014  402101.0         2       0.75         1020
21595  21418   1/16/2015  400000.0         3       2.50         1600
21596  21419  10/15/2014  325000.0         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  sqft_above  sqft_basement  \
0          5650     1.0           0     0  ...        1180            0.0
1          7242     2.0           1     0  ...        2170          400.0
2         10000     1.0           1     0  ...         770            0.0
3          5000     1.0           1     0  ...        1050          910.0
4          8080     1.0           1     0  ...        1680            0.0
...         ...     ...         ...   ...  ...         ...            ...
21592      1131     3.0           1     0  ...        1530            0.0
21593      5813     2.0           1     0  ...        2310            0.0
21594      1350     2.0           1     0  ...        1020            0.0
21595      2388     2.0           0     0  ...        1600            0.0
21596      1076     2.0           1     0  ...        1020            0.0

       yr_built yr_renovated  zipcode      lat     long  sqft_living15  \
0          1955          0.0    98178  47.5112 -122.257           1340
1          1951       1991.0    98125  47.7210 -122.319           1690
2          1933          NaN    98028  47.7379 -122.233           2720
3          1965          0.0    98136  47.5208 -122.393           1360
4          1987          0.0    98074  47.6168 -122.045           1800
...         ...          ...      ...      ...      ...            ...
21592      2009          0.0    98103  47.6993 -122.346           1530
21593      2014          0.0    98146  47.5107 -122.362           1830
21594      2009          0.0    98144  47.5944 -122.299           1020
21595      2004          0.0    98027  47.5345 -122.069           1410
21596      2008          0.0    98144  47.5941 -122.299           1020

       sqft_lot15  sqft_basenment
0            5650               0
1            7639               1
2            8062               0
3            5000               2
4            7503               0
...           ...             ...
21592        1509               0
21593        7200               0
21594        2007               0
21595        1287               0
21596        1357               0

[21597 rows x 22 columns]

In [19]:
#Finding the data types of the variables

print("Data types of the variables :",kc_data.dtypes)

Data types of the variables : id                  int64
date               object
price             float64
bedrooms            int64
bathrooms         float64
sqft_living         int64
sqft_lot            int64
floors            float64
waterfront          int64
view                int64
condition           int64
grade               int64
sqft_above          int64
sqft_basement      object
yr_built            int64
yr_renovated      float64
zipcode             int64
lat               float64
long              float64
sqft_living15       int64
sqft_lot15          int64
sqft_basenment      int64
dtype: object

In [22]:

#finding missing values

def missing_values(df):
    """
    This function takes a pandas dataframe as input and returns the number of missing values in each column.
    """
    return df.isnull().sum()

print(missing_values(kc_data))

id                   0
date                 0
price                0
bedrooms             0
bathrooms            0
sqft_living          0
sqft_lot             0
floors               0
waterfront           0
view                 0
condition            0
grade                0
sqft_above           0
sqft_basement        0
yr_built             0
yr_renovated      3842
zipcode              0
lat                  0
long                 0
sqft_living15        0
sqft_lot15           0
sqft_basenment       0
dtype: int64

In [23]:
# Handling missing values
# Drop rows with any missing values

def drop_missing_values(df):
    """
    This function takes a pandas dataframe as input and returns the dataframe with rows containing missing values removed.
    """
    return df.dropna(inplace=False)

df1 = drop_missing_values(kc_data)

In [25]:
# Finding the target variable

y_target = df1['price']

#print('Target variable :',y_target.head())

y_target.head()

0     221900.0
1     538000.0
3     604000.0
4     510000.0
5    1230000.0
Name: price, dtype: float64

In [26]:
#finding the columns
kc_data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'sqft_basenment'],
      dtype='object')